/* Stylesheet */
*{
    font-family: Verdana, sans-serif;
}

header > h3{
    display: inline-flex;
    margin: 2rem;
}

section{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 3rem;
}

#timer-container{
    float:right;
    margin-right: 2rem;
}

button{
    display: block;
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 0.85rem;
    border-radius: 5px;
    text-decoration: none;
}

ul > li > button{
    padding: 0.55rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition:all 0.6s;
}

ul > li > button:hover{
    padding: 0.55rem;
    background-color: black;
    color: white;
}

ul > li{
    list-style-type: none;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
}

ul{
    margin-top: 3rem;
}
